body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: #f4f6f8;
  color: #333;
}

header {
  background-color: #1f2937;
  color: white;
  padding: 40px;
  text-align: center;
}

section {
  max-width: 800px;
  margin: 40px auto;
  background: white;
  padding: 30px;
  border-radius: 8px;
}

h2 {
  color: #1f2937;
}

ul {
  padding-left: 20px;
}

.project {
  margin-bottom: 20px;
}

.project a {
  display: inline-block;
  margin-top: 8px;
  text-decoration: none;
  color: white;
  background-color: #1f2937;
  padding: 8px 14px;
  border-radius: 5px;
}

.project a:hover {
  background-color: #374151;
}


footer {
  text-align: center;
  padding: 20px;
  color: #666;
}

.cv-button {
  display: inline-block;
  text-decoration: none;
  background-color: #2563eb;
  color: white;
  padding: 12px 20px;
  border-radius: 6px;
  font-weight: bold;
}

.cv-button:hover {
  background-color: #1d4ed8;
}

@media (max-width: 600px) {

  header {
    padding: 25px;
  }

  section {
    margin: 20px;
    padding: 20px;
  }

  h1 {
    font-size: 24px;
  }

  h2 {
    font-size: 20px;
  }
}
